<!-- Static navbar -->
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <i class="icon-ticket"><%= link_to Rails.application.class.parent_name, root_path, class: 'brand' %></i>
        </div>
        <div class="nav navbar-nav">
          <ul class="nav navbar-nav"><li class="active"><a href="#">Home</a></li>
            <li><a href="#">Sports</a></li>
            <li><a href="#">Politics</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Entertainment</a></li>
            <li><a href="#">Science/Tech</a></li>
            <li><a href="#">World</a></li>
            <li><a href="#">Personal</a></li>
            <li><a href="#">Other</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><% if logged_in? %>
              <div class="navbar-text pull-right">Hi, <%= current_user.name %>!</div>
              <%= link_to t('auth.logout'), logout_path, class: 'brand', style: "color: blue" %>
              <% else %>
              <div class="pull-right"><%= link_to t('auth.login'), login_path, class: 'brand', style: "color: blue" %></div>
              <% end %>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>