<%= title t('hello') %>
<div class="jumbotron">
    <h1>Make a prediction!</h1>
    <p>This is where the prediction box will go. For now, click the button to create a prediction.</p>
    <p>
    	<%= link_to "I predict &raquo;", predictions_path, class: 'btn btn-lg btn-primary' %>
    </p>
</div>